[submodule "CAPW-Servicios-Tecnicos/ualett_custom"]
	path = CAPW-Servicios-Tecnicos/ualett_custom
	url = git@github.com:CAPW-Servicios-Tecnicos/ualett_custom.git
	branch = 15.0

[submodule "CAPW-Servicios-Tecnicos/account_reports_ualett"]
	path = CAPW-Servicios-Tecnicos/account_reports_ualett
	url = git@github.com:CAPW-Servicios-Tecnicos/account_reports_ualett.git
	branch = 15.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 15.0

[submodule "OCA/reporting-engine"]
	path = OCA/reporting-engine
	url = git@github.com:OCA/reporting-engine.git
	branch = 15.0
